{% load  static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-win8.css">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
    <script src="{% static 'js/rutinas.js' %}"></script>
<div class="container" style='width:80%;margin:auto;'>
   <center><img src="{% static 'imgs/BLOG.png' %}" class="w3-panel w3-round-xxlarge" style="border:true;width:90%;border-color:black;height:150px;-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);border: 1px solid #000000;">
</center>

{%if N == '0' %}
<div align=left class="w3-padding w3-xlarge w3-text-orange mb-1">
    <a class="btn btn-outline-primary w3-round-large small" href="/coor/1/0">&nbsp;<img src="{% static 'imgs/new.png'%}" width=30px>&nbsp;NUEVO</a></div>
    <div style="border:solid;border-color:#AEB6BF;height:400px;overflow:auto;" class="p-4">
      <table class='table table-bordered table-striped'>
<th width=40%>NOMBRE</th><th width=10%>Borrar</th></tr>
{% for x in lista%}
<tr><td><a href='/coor/2/{{x.id}}'>{{x.nom}}
</a></td><td><button id="myBtn" class="btn btn-outline-danger w3-rounded-xxlarge" onclick="Ir('/coor/3/{{x.id}}')"><image src="{% static 'imgs/delete.png'%}" width=20px></i>&nbsp;ELIMINAR</button><tr>
{% endfor %}
{%endif%}
{%if N == '1' %}

<div align=left class="w3-xlarge ">
    <h3 class="w3-center w3-win8-cobalt"><strong >NUEVA COORDINACION</strong></h3>
    </div>
    <div style="height:200px;">
        <script src="{% static 'js/rutinas.js' %}"></script>
        <script>Migas(['Coordinaciones|/coor/0/0','Nueva Coordinacion|']);</script>
        <form name="mio" method=get action="/coor/11/0" class="row g-2 was-validated small" validate>

            <p><b>Nombre:</b>
            <input style='width:80%;' type="text"  name="nombre" value="" required></p>
            <button style='width:100%;' class="w3-btn w3-blue w3-large w3-round-xxlarge col-12" type="submit"><i class='fa fa-save'></i>&nbsp;Guardar nueva coordinacion..</button>
        </form>
{%endif%}
{%if N == '2' %}

<div align=left class="w3-padding w3-xlarge ">

    <h3 class="w3-center w3-win8-cobalt"><strong >EDITANDO COORDINACION</strong></h3>
</div>
    <div style="height:200px;">
        <script src="{% static 'js/rutinas.js' %}"></script>
        <script>Migas(['Coordinaciones|/coor/0/0','Editando Coordinacion|']);</script>       
        <form name="mio" method=get action="/coor/21/{{lista.id}}" class="row g-2 was-validated small" validate>

            <p class="ml-2" style='width:100%;'><b>Nombre:</b>
            <input  style='width:92%;height:30px;' type="text"  name="nombre" value="{{lista.nom}}" required></p>
            <button style='width:100%;' class="w3-btn w3-blue w3-large w3-round-xxlarge col-12" type="submit"><i class='fa fa-save'></i>&nbsp;Guardar nueva coordinacion..</button>
        </form>

{%endif%}
{%if N == '3' %}

<script>
Borra('Desea Borrar','/coor/31/{{lista}}','/coor/0/0') ;   
</script>
{%endif%}
