{% load  static %}
link href=httpscdn.jsdelivr.netnpmbootstrap@5.1.0distcssbootstrap.min.css rel=stylesheet integrity=sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0pWe crossorigin=anonymous
link rel=stylesheet href=httpscdn.jsdelivr.netnpmbootstrap@4.0.0distcssbootstrap.min.css integrity=sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAWdAiS6JXm crossorigin=anonymous
link rel=stylesheet href=httpswww.w3schools.comlibw3-colors-win8.css
link rel=stylesheet href=httpswww.w3schools.comw3css4w3.css
link rel=stylesheet href=httpscdnjs.cloudflare.comajaxlibsfont-awesome4.7.0cssfont-awesome.min.css
body
    script src={% static 'jsrutinas.js' %}script
div class=container style='width80%;marginauto;'
   centerimg src={% static 'imgsBLOG.png' %} class=w3-panel w3-round-xxlarge style=bordertrue;width90%;border-colorblack;height150px;-webkit-box-shadow 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow 10px 10px 5px 0px rgba(0,0,0,0.75);border 1px solid #000000;
center

{%if N == '0' %}
div align=left class=w3-padding w3-xlarge w3-text-orange mb-1
    a class=btn btn-outline-primary w3-round-large small href=coor10&nbsp;img src={% static 'imgsnew.png'%} width=30px&nbsp;NUEVOadiv
    div style=bordersolid;border-color#AEB6BF;height400px;overflowauto; class=p-4
      table class='table table-bordered table-striped'
th width=40%NOMBREthth width=10%Borrarthtr
{% for x in lista%}
trtda href='coor2{{x.id}}'{{x.nom}}
atdtdbutton id=myBtn class=btn btn-outline-danger w3-rounded-xxlarge onclick=Ir('coor3{{x.id}}')image src={% static 'imgsdelete.png'%} width=20pxi&nbsp;ELIMINARbuttontr
{% endfor %}
{%endif%}
{%if N == '1' %}

div align=left class=w3-xlarge 
    h3 class=w3-center w3-win8-cobaltstrong NUEVA COORDINACIONstrongh3
    div
    div style=height200px;
        script src={% static 'jsrutinas.js' %}script
        scriptMigas(['Coordinacionescoor00','Nueva Coordinacion']);script
        form name=mio method=get action=coor110 class=row g-2 was-validated small validate

            pbNombreb
            input style='width80%;' type=text  name=nombre value= requiredp
            button style='width100%;' class=w3-btn w3-blue w3-large w3-round-xxlarge col-12 type=submiti class='fa fa-save'i&nbsp;Guardar nueva coordinacion..button
        form
{%endif%}
{%if N == '2' %}

div align=left class=w3-padding w3-xlarge 

    h3 class=w3-center w3-win8-cobaltstrong EDITANDO COORDINACIONstrongh3
div
    div style=height200px;
        script src={% static 'jsrutinas.js' %}script
        scriptMigas(['Coordinacionescoor00','Editando Coordinacion']);script       
        form name=mio method=get action=coor21{{lista.id}} class=row g-2 was-validated small validate

            p class=ml-2 style='width100%;'bNombreb
            input  style='width92%;height30px;' type=text  name=nombre value={{lista.nom}} requiredp
            button style='width100%;' class=w3-btn w3-blue w3-large w3-round-xxlarge col-12 type=submiti class='fa fa-save'i&nbsp;Guardar nueva coordinacion..button
        form

{%endif%}
{%if N == '3' %}

script
Borra('Desea Borrar','coor31{{lista}}','coor00') ;   
script
{%endif%}
